.reports-container {
  min-height: 100vh;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
} 

.reports-container h1 {
  font-size: 25px;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.chart-box {
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(186, 222, 243, 0.596);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4rem;
  overflow: hidden;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  padding: 25px;
  font-size: 10px;
}

.chart-box:hover {
  transform: translateY(-10px);
  background: rgba(171, 109, 252, 0.192);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
  border: 1px transparent rgba(128, 65, 245, 0.699);
  font-size: 15px;
}


.read-more-btn {
  background: rgba(102, 126, 234, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.read-more-btn:hover {
  background: rgb(91, 109, 192);
  transform: scale(1.05);
} 

.h2 {
  color: #333;
  margin-bottom: 15px;
  font-size: 24px;
}

.ul {
  list-style: none;
  padding: 0;
}

.li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  color: #666;
  line-height: 1.6;
}

.li:last-child {
  border-bottom: none;
}

